* {
font-family: 'Arial Black', Gadget, sans-serif;
text-align: center;
}

body {
  background-color: white
  text-align: center;
}

header {
  background-color: black;
  margin: 0;
  padding: 30px;
  font-size: 60px;
  color: white;
  display: block;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;
}

#versus {
  text-transform: lowercase;
}

.X {
  background-image: url(../img/DogFood.jpg);
  background-size: cover;
  background-position-x: -1px
}

.O {
  background-image: url(../img/CatBowl.jpg);
  background-size: cover;
  background-position-x: -1px
}

.maincontainer {
  min-height: 80vh;
}

.column {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  vertical-align: top;
  border: 2px solid red;
}

h1 {
  font-size: 50px;
  letter-spacing: 3px;
}

section {
  color: black;
  text-align: center;
  width: auto;
}

section p {
  font-size: 22px;
  letter-spacing: 1px;
}

img.playerPic:hover {
  cursor: pointer;
}

.playerScores {
  font-size: 30px;
  padding-top: 0px;
}

#winnerDog,#winnerCat {
  visibility: hidden;
  color: black;
  font-size: 50px;
}

.tokens {
  length: 200px;
  width: 200px;
}

.board {
  margin-top: 30px;
}

table {
  margin: auto;
}

td {
  height: 120px;
  width: 120px;
  font-size: 0;
  border: 10px solid black;
  border-radius: 30px;
  background-color: white;
}

td:not(.X):not(.O):hover {
  background: url(../img/pawprint.jpg);
  background-size: cover;
  cursor: pointer;
}

#draw {
  display: none;
  color: black;
  font-size: 50px;
  /*padding-top: 5px;*/
}

#reset {
  background-color: white;
  color: black;
  font-size: 30px;
  width: 250px;
  margin: auto;
  padding: 15px;
}

#reset:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

#dogMessage,#catMessage {
  display: none;
  font-size: 50px;
}

footer {
  background-color: black;
  padding: 30px;
  font-size: 20px;
  color: white;
}
