
body {
  background-color: #AA9FB1;
  font-family: 'Baloo Bhaina', 'cursive';
  text-align: center;
}

header {
  background-color: #4E5283;
  margin: 0;
  padding: 30px;
  font-size: 60px;
  color: white;
  display: block;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;
}

article {
  background-color: #7871AA;
  font-family: 'Baloo Bhaina', 'cursive';
  color: white;
  text-align: center;
  padding: 30px;
  width: 41%;
}

article h1 {
  padding-top: 15px;
}

article p {
  font-size: 22px;
  letter-spacing: 1px;
}

/*.column {
  width: 33%;
  display: inline-block;
  border: 2px solid red;
  box-sizing: border-box;
}*/

.column {
  display: inline-block;
  /*border: 2px solid red;*/
  box-sizing: border-box;
  /*float:left;*/
  width: 33%;
  vertical-align: top;
}

.board {
  margin-top: 30px;
}

h1 {
  font-size: 50px;
  letter-spacing: 3px;
 }

table {
  margin: auto;
  /*border-collapse: collapse;*/
}

td {
  height: 150px;
  width: 150px;
  font-family: 'Baloo Bhaina', 'cursive';
  font-size: 70px;
  border: 3px solid white;
  border-radius: 25px;
  background-color: white;
}

td:hover {
  background-color: #B3CBB9;
}

#winner {
  visibility: hidden;
  color: white;
}

.playerScores {
  font-size: 30px;
  font: white;
}

#reset {
  font-family: 'Baloo Bhaina', 'cursive';
  font: 50px;
  font-size: 30px;
  color: white;
  background-color: #6D72C3;
  width: 200px;
  margin: auto;
  border: 1px solid white;
}

#reset:hover{
  cursor: pointer;
  /*padding: 20px;*/
}

footer {
  background-color: #CCA7A2;
  padding: 30px;
  font-family: 'Baloo Bhaina', 'cursive';
  font-size: 20px;
  color: white;
}
