* {
font-family: 'Arial Black', Gadget, sans-serif;
text-align: center;
}

body {
  background-color: white
  text-align: center;
}

header {
  background-color: black;
  margin: 0;
  padding: 30px;
  font-size: 60px;
  color: white;
  display: block;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;
}

.X {
  background-image: url(../img/DogBowl.jpg);
  background-size: cover;
}

.O {
  background-image: url(../img/DogFood.jpg);
  background-size: cover;
}

section {
  /*background-color: #7871AA;*/
  color: black;
  text-align: center;
  width: auto;
}

section p {
  font-size: 22px;
  letter-spacing: 1px;
}

img.playerPic {
  /*visibility: hidden;*/
}

img.playerPic:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.column {
  display: inline-block;
  box-sizing: border-box;
  /*float:left;*/
  width: 33%;
  vertical-align: top;
  border: 1px solid red;
}

.board {
  margin-top: 30px;
}

h1 {
  font-size: 50px;
  letter-spacing: 3px;
 }

table {
  margin: auto;
  /*border-collapse: collapse;*/
}

td {
  height: 120px;
  width: 120px;
  font-size: 0;
  border: 10px solid black;
  border-radius: 30px;
  background-color: white;
}

td:hover {
  background-color: #B3CBB9;
}

#winner, #draw {
  display: none;
  color: black;
  font-size: 50px;
  padding-top: 30px;
}

section {
  color: black;
}

.playerScores {
  font-size: 30px;
}

#reset {
  font: 50px;
  font-size: 30px;
  color: black;
  background-color: white;
  width: 250px;
  margin: auto;
}

#reset:hover{
  cursor: pointer;
  padding: 20px;
}

footer {
  background-color: black;
  padding: 30px;
  font-size: 20px;
  color: white;
}
